{% extends '_/layouts/default' %}

{% block content %}
    <div class="x_container py-12">
        <h1 class="t_h1 mb-6">Welcome to {{ siteName }}</h1>

        <h2 class="mb-4 text-2xl font-bold">Latest posts</h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
            {% for card in craft.entries.section("news").limit(4).all() %}
                {% include '_/components/card' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}