{% extends '_/layouts/default' %}

{% block content %}
    <div class="x_container py-12 space-y-2.5">
        <div hx-boost="true">
            <a href="/news">Back to news</a>
        </div>
        <h1 class="t_h1 mb-6">{{ entry.title }}</h1>
        {% include '_/components/content-builder' %}
    </div>
{% endblock %}