{% extends '_/layouts/default' %}

{% set newsPosts = craft.entries.section("news").limit(4) %}
{% paginate newsPosts as pageInfo, posts %}

	{% block content %}
        <div class="x_container py-12">
            <h1 class="t_h1 mb-6">News</h1>
            <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
                {% for card in posts %}
                    {% include '_/components/card' %}
                {% endfor %}
            </div>
            {% include '_/components/pagination' with { pageInfo: pageInfo } %}
        </div>
    {% endblock %}
