@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [x-cloak] {
        display: none;
    }

    .x_container {
        @apply max-w-[1440px] px-4 mx-auto;
    }

    .htmx-indicator {
        display: none;
    }

    .htmx-request .htmx-indicator {
        display: block;
    }

    .htmx-request.htmx-indicator {
        display: block;
    }
}

@layer components {
    .c_prose {
        @apply max-w-none;
    }

    .c_prose a {
        @apply text-blue-500;
    }

    .c_prose a:hover {
        @apply text-blue-700;
    }

    .c_prose * {
        @apply m-0;
    }

    .c_prose > * + * {
        @apply mt-6;
    }

    .c_content-builder {
        @apply flex flex-col gap-4;
    }
}

@layer utilities {
    .t_h1 {
        @apply text-6xl font-bold text-red-500;
    }
}