{% extends '_/layouts/default' %}

{% block content %}
    <div class="x_container py-16">
        <h1 class="t_h1 mb-6">Page not found</h1>
        <div class="c_prose">
            <p>Please <a href="/">return to the homepage</a></p>
        </div>
    </div>
{% endblock %}