{% set contentBlocks = entry.contentBuilder.all() %}

{% if contentBlocks|length %}
    <div class="c_content-builder">
        {% for block in contentBlocks %}
            {% set blockName = block.type.handle %}
            {% include "_/components/content-builder/blocks/" ~ blockName ignore missing with {
                'block' : block
            } %}
        {% endfor %}
    </div>
{% endif %}
